
html {
    box-sizing: border-box;
    font-size: 62.5%; /*1rem=10px*/
    scroll-behavior: smooth;
  }
  
body{
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem; /* 18px */
    font-weight: 400;
    line-height: 1.4;
    background-color: #FCE205;
    background-size: cover;
    background-repeat: no-repeat;
    color:black;
  }

.main{
    display:flex;
    flex-flow:column;
    align-items: center;
}

.img{
    width: 300px;
    height: 200px;
}

.play-img{
    width: 24.4rem;
    height: 10.5rem;
}

/*
#sub-heading{
    display:none;
}
.show{
    display:block;
}
#sub-heading>div{
    margin:3rem;
    font-size: 1.8rem;
}

.btn-text{
    display:none;
    color:#DDC77D;
    font-size:1.5rem;
    margin:4rem;
}

.play-img{
    display:none;
    margin-left:7.5rem;
}

.rules{
    display:none;
    margin:1rem;
}

.rules>div{
    margin:2rem;
}
.rules>ul{
    margin-left:2rem;
}

 Animation stuff */
@keyframes fade-right {
  0% {
    opacity: 0;
    transform: translateX(-3em);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Applying the animation directly to the element */

ul{
    text-align: center;
}
h1 {
     font-style: Helvetica;
     
  font-size: 30px;
  font-weight: 10px;
  opacity: 0;
  margin: 1 auto 0.25em auto;
  transform: rotateX(1deg);
  animation: fade-in-3d 5s cubic-bezier(.99,-0.33,.17,1.38) forwards;
}
h2 {
  opacity: 0;
  font-style: Helvetica;
  font-weight:10px; 
  font-size:25px;
animation: fade-right 12s cubic-bezier(.05,.98,.17,.97) forwards;

}

/* Staggering the timings */
h2:nth-child(1) { animation-delay: 3s; }
h2:nth-child(2) { animation-delay: 3.2s; }
h2:nth-child(3) { animation-delay: 3.3s; }
h2:nth-child(4) { animation-delay: 3.4s; }
h2:nth-child(5) { animation-delay: 3.5s; }
h2:nth-child(6) { animation-delay: 3.6s; }
h2:nth-child(7) { animation-delay: 3.7s; }
h2:nth-child(8) { animation-delay: 3.8s; }

h3{
  opacity: 0;
font-size: 30px;
   font-style: Helvetica ;
  animation: fade-right 12s cubic-bezier(.05,.98,.17,.97) forwards;
}

/* Staggering the timings */
h3:nth-child(1) { animation-delay: 3s; }
h3:nth-child(2) { animation-delay: 3.2s; }
h3:nth-child(3) { animation-delay: 3.3s; }
h3:nth-child(4) { animation-delay: 3.4s; }
h3:nth-child(5) { animation-delay: 3.5s; }
h3:nth-child(6) { animation-delay: 3.6s; }
h3:nth-child(7) { animation-delay: 3.7s; }
h3:nth-child(8) { animation-delay: 3.8s; }


.play-img {
  opacity: 0;
  margin: 1 auto 0.25em auto;
  transform: rotateX(10deg);
  animation: fade-in-3d 5s cubic-bezier(.99,-0.33,.17,1.38) forwards;
}
.play-img {
  opacity: 0;
     animation: fade-right 12s cubic-bezier(.05,.98,.17,.97) forwards;
}
/* Staggering the timings */
.play-img:nth-child(1) { animation-delay: 3s; }
.play-img:nth-child(2) { animation-delay: 3.2s; }
.play-img:nth-child(3) { animation-delay: 3.3s; }
.play-img:nth-child(4) { animation-delay: 3.4s; }
.play-img:nth-child(5) { animation-delay: 3.5s; }
.play-img:nth-child(6) { animation-delay: 3.6s; }
.play-img:nth-child(7) { animation-delay: 3.7s; }
.play-img:nth-child(8) { animation-delay: 3.8s; }

/* Visual styling */
body {
 
  font-family: Helvetica Neue, Arial;
  -webkit-font-smoothing: antialiased;
  transform-style: preserve-3d;
  perspective:150px;
}

.cont {
  text-align: center;
}

@keyframes fade-in-3d {
  0% {
    opacity: 0;
    transform: rotateX(1deg) translateY(-3em);
  }
  100% {
    opacity: 1;
    transform: rotateX(1deg) translateY(0);
  }
}
